.home{
    display:flex;
    flex-direction:column;
    height:100vh;
    background:#1f1f1f;
}

.statusBar{
    height:35px;
    background:#2a2a2a;
    color:white;
    display:flex;
    justify-content:space-around;
    align-items:center;
    border-top:1px solid #444;
    font-size:14px;
}